*{
    poosition:relative ;
    box-szing:border-box;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}

.content{
    max-width: 1110;
    padding: 8px;
    margin: auto;
}

header{
    width: 100%;
    height: 200%;

    box-shadow: 0 2px 10px 0 rgba(25, 25, 25, 0.5), 0 4px 13px 0 rgba(25, 25, 25, 0.2);
    background: teal;
    display: table;
}

header  .name{
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    color: white;
    text-align: center;
}

.av{
    overflow: auto;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.av img{
    position: relative;
    float: right;
    right: 0.5em;
    border: 2px solid white;
    width: 180px;
    height: auto;
    border-radius: 100px;
}

aside{
    float: left;
    width: 30%;
    margin-top: 10px;
}

aside .info{
    width: 30%;
    display: inline-block;
}

p{
    display: block;
    clear: both;
    word-wrap: break-word;
    margin-top: 0px;
}

section{
    float: left;
    width: 69%;
    margin-top: 10px;
    margin-left: 8px;
}

.box{
    display: inline-block;
    padding: 14px;
    margin: 8px 0;
    background: white;
    width: 100%;
    box-shadow: 0 0 5px rgba(25,25,25,0.3), 0 0 8px rgba(25,25,25,0.1) ;
}

.av{
    width: 100%;
    position: relative;
    top:50px;
    clear: both;
    overflow: auto;
    display: block;   
}

.av img{
    float: none;
    right: 0;
    border: 6px solid white;
    margin: auto;
    width: 180px;
    height: auto;
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content{
    margin-top: 60px;
}

.contact{
    max-width: 1110;
    padding: 8px;
    margin: auto;
}